{{- partial "widgets/alt/image.html" (dict
        "page"         .Page
        "src"          (.Destination | safeURL)
        "alt"          (.PlainText | default "")
        "caption"      .Title
        "class"        (.Attributes.class | default "")
        "width"        (.Attributes.width | default "")
        "height"       (.Attributes.height | default "")
        "process"      (.Attributes.process | default "")
        "captionalign" (.Attributes.captionalign | default "left")
        "variation" (.Attributes.variation | default "")
        "hideindark"   (.Attributes.hideindark | default false)
        "hideinlight"  (.Attributes.hideinlight | default false)
) -}}
