
{{ $page := .page }}
{{ $class := .class | default "fr-wdgt-terms" }}
{{ $taxonomies := .taxonomies }}
{{ $prefix := .prefix | default "" }}

{{/*  {{ debug.Dump (dict "page" $page "class" $class "taxonomies" $taxonomies "prefix" $prefix) }}  */}}

{{ with $taxonomies }}
  <nav class="{{ $class }}">
    <ul>
      {{ range . }}
        {{ $activeTaxonomy := eq $page.RelPermalink .RelPermalink }}
        <li {{ if $activeTaxonomy }}class="active"{{ end }}><a href="{{ .RelPermalink }}">{{ $prefix }}{{ lower .LinkTitle }}</a></li>
      {{ end }}
    </ul>
  </nav>
{{ end }}
