{{ $title := .title | default "Details" }}
{{ $content := .content | default "" }}
{{ $class := .class | default "fr-wdgt-expand" }}
{{ $initialState := .initialState | default false }}
{{ $iconName := .iconName | default "" }}
{{ $iconStyle := .iconStyle | default "" }}
{{ $style := .style | default "simple" }}

<details class="{{ $class }} fr-wdgt-expand--{{ $style }}" {{ if $initialState }}open{{ end }}>
  <summary class="{{ $class }}__summary">
    {{ if $iconName }}
      {{ partial "widgets/icon.html" (dict "name" $iconName "style" $iconStyle "class" (printf "%s__icon" $class)) }}
    {{ end }}
    <span class="{{ $class }}__title">{{ $title }}</span>
  </summary>
  <div class="{{ $class }}__content">
    {{ $content | markdownify }}
  </div>
</details>