// Caption Styles
.fr-image,
.fr-codeblock-lang {
    margin: var(--spacing-md) 0;

    figcaption {
        color: var(--color-text-muted);
        line-height: var(--line-height-compact);
        font-size: var(--font-size-sm);
        margin-top: var(--spacing-xs);
    }
}

// Scrollbar Behaviour and Styles
.fr-codeblock-plain,
.fr-codeblock-lang pre {
    scrollbar-width: thin;
    scrollbar-color: var(--color-text-muted)
        color-mix(in srgb, var(--color-text-muted) 10%, transparent);
    overflow-x: auto;
    white-space: pre;
}

// Link Styles
.fr-link,
.fr-wdgt-menu a,
.fr-wdgt-list-simple a,
.fr-wdgt-terms a,
.fr-wdgt-breadcrumb a,
.fr-blockquote a {
    color: var(--color-link);
    text-decoration: none;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;

    &:hover {
        color: var(--color-accent);
        text-decoration: underline;
    }
}

// Image Styles
.fr-image {
    img {
        max-width: 100%;
        height: auto;
    }

    &.fr-variant {
        padding: var(--spacing-md);
        padding-bottom: var(--spacing-sm);
    }

    @each $name, $values in $variations {
        &.fr-variation--#{$name} {
            background-color: map-get($values, "base");
            figcaption {
                color: map-get($values, "text");
            }
        }
    }
}

// Codeblock Styles
.fr-codeblock-plain {
    font-family: var(--font-family-code);
    margin: var(--spacing-md) 0;
}

.fr-codeblock-lang {
    font-family: var(--font-family-code);

    &:has(.fr-codeblock-title-hidden) {
        position: relative;

        .fr-codeblock-header {
            border: none;
            position: absolute;
            top: 1px;
            right: 1px;
        }
    }

    .fr-codeblock-header {
        padding: var(--spacing-2xs) var(--spacing-md);
        display: flex;
        justify-content: space-between;
        border: $border-thin;
        margin-bottom: calc(-1 * var(--border-thin));

        .fr-codeblock-copy-button {
            &:hover {
                color: var(--color-accent);
                cursor: pointer;
            }
            &.copied-text-display {
                color: inherit;
                cursor: default;
            }
        }
    }

    .fr-codeblock-content {
        border: $border-thin;

        .highlight pre {
            padding: var(--spacing-sm) var(--spacing-md);
        }
    }
}

// Blockquote Styles
.fr-blockquote {
    border-left-width: var(--border-thick);
    border-left-style: solid;
    padding: var(--spacing-sm) var(--spacing-lg);
    margin: var(--spacing-md) 0;
    font-style: italic;

    .fr-blockquote-caption {
        margin: var(--spacing-md) 0;
    }

    &:not(.fr-variant) {
        background-color: var(--color-surface);
        border-left-color: var(--color-accent);
    }

    @each $name, $values in $variations {
        &.fr-variation--#{$name} {
            background-color: make-surface(map-get($values, "base"));
            border-left-color: map-get($values, "base");
        }
    }
}

.fr-blockquote-alert {
    border: var(--border-thin) solid transparent;
    margin: var(--spacing-md) 0;

    .fr-blockquote-alert-header {
        font-weight: bold;
        border-bottom: var(--border-thin) solid currentColor;
        padding: var(--spacing-xs) var(--spacing-md);

        .fr-blockquote-alert-icon {
            margin-right: var(--spacing-2xs);
        }
    }

    .fr-blockquote-alert-content {
        margin: var(--spacing-md) var(--spacing-md);
    }

    @each $name, $values in $variations {
        &.fr-variation--#{$name} {
            background-color: map-get($values, "base");
            color: map-get($values, "text");
        }
    }
}

// Table Styles
.fr-table {
    margin: var(--spacing-md) 0;
    max-width: 100%;

    table {
        border-collapse: collapse;
    }

    th,
    td {
        border: $border-thin;
        padding: var(--spacing-xs);
    }

    th {
        background-color: var(--color-surface);
        font-weight: 600;
    }

    figcaption {
        color: var(--color-text-muted);
        line-height: var(--line-height-compact);
        font-size: var(--font-size-sm);
        margin-top: var(--spacing-xs);
    }

    @each $name, $values in $variations {
        &.fr-variation--#{$name} {
            th {
                background-color: make-surface(map-get($values, "base"));
            }
        }
    }
}

// New wrapper to make only the table scroll horizontally
.fr-table .fr-table-wrapper {
    overflow-x: auto;
    max-width: 100%;
}

// Common Utility Classes
.fr-text-align {
    &-left {
        text-align: left;
    }
    &-center {
        text-align: center;
    }
    &-right {
        text-align: right;
    }
}
