// Widget Styles

// Title Widget
.fs-wdgt-title--main {
  a {
    color: var(--color-text);

    &:hover {
      text-decoration: none;
    }
  }
}

.fr-wdgt-page-title {
  margin-bottom: var(--spacing-xs);
}

// Terms Widget
.fr-wdgt-terms--page,
.fr-wdgt-terms--taxonomy,
.fr-wdgt-terms--term {
  margin-top: var(--spacing-md);
  margin-bottom: var(--spacing-lg);
}

.fr-wdgt-terms--term {
  .active a {
    color: var(--color-accent);
    text-decoration: underline;
  }
}

// Simple List Widget Styles
.fr-wdgt-list-simple {
  padding: 0;

  li {
    list-style: none;
    display: flex;
    gap: var(--spacing-sm);

    time,
    span {
      color: var(--color-text-muted);
    }
  }
}

// Meta Widget Styles
.fr-wdgt-meta-author,
.fr-wdgt-meta-date,
.fr-wdgt-meta-read-time {
  display: inline-block;
}

// Tabs Widget Styles
.fr-wdgt-tabs {
  display: flex;
  flex-wrap: wrap;

  .fr-wdgt-tab-label {
    padding: var(--spacing-2xs) var(--spacing-md);
    cursor: pointer;
    color: var(--color-text-muted);
    margin-bottom: -1px;
    margin-right: -1px;
    border: 1px solid var(--color-border);

    &:hover {
      color: var(--color-text);
    }
  }

  .fr-wdgt-tab-input {
    display: none;
    
    &:checked + .fr-wdgt-tab-label {
      color: var(--color-accent);
      border-bottom-color: var(--color-accent);
      background-color: var(--color-surface);
    }

    &:checked + .fr-wdgt-tab-label + .fr-wdgt-tab-panel {
      display: block;
    }

  }

  .fr-wdgt-tab-panel {
    display: none;
    width: 100%;
    order: 1;
    border:1px solid var(--color-border);
    padding: var(--spacing-md);

    & > * {
      margin-top:0;
      margin-bottom: 0;
    }

    &:has(> .fr-codeblock-lang:only-child){
      padding: 0;
      border: none;
    }
  }
}