// Widget Styles

// Title Widget
.fr-wdgt-title {
  margin: var(--spacing-xs) 0;

  a {
    color: var(--color-text);
    text-decoration: none;
  }
}

// Menu Widget
.fr-wdgt-menu,
.fr-wdgt-terms {
  ul {
    display: flex;
    gap: var(--spacing-md);
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
  }
}


// breadcrumb Widget
.fr-wdgt-breadcrumb {
  ul {
    display: flex;
    gap: var(--spacing-sm);
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;

    &.current {
      color: var(--color-text-muted);
    }
    
    &.separator {
      color: var(--color-text-muted);
    }
  }

  &.fr-wdgt-breadcrumb--term,
  &.fr-wdgt-breadcrumb--taxonomy {
    margin-bottom: var(--spacing-md);
  }
}

// Terms Widget
.fr-wdgt-terms {
  margin-bottom: var(--spacing-md);

  &.fr-wdgt-terms--term {
    .active a {
      color: var(--color-text-muted);
      pointer-events: none;
      cursor: default;
    }
  }
}

// Simple List Widget Styles
.fr-wdgt-list-simple {
  padding: 0;

  li {
    list-style: none;
    display: flex;
    gap: var(--spacing-sm);

    time,
    span {
      color: var(--color-text-muted);
    }
  }
}

// Meta Widget Styles
.fr-wdgt-meta-author,
.fr-wdgt-meta-date,
.fr-wdgt-meta-read-time {
  display: inline-block;
}

// Tabs Widget Styles
.fr-wdgt-tabs {
  display: flex;
  flex-wrap: wrap;

  .fr-wdgt-tab-label {
    padding: var(--spacing-2xs) var(--spacing-md);
    cursor: pointer;
    color: var(--color-text-muted);
    margin-bottom: -1px;
    margin-right: -1px;
    border: 1px solid var(--color-border);

    &:hover {
      color: var(--color-text);
    }
  }

  .fr-wdgt-tab-input {
    display: none;
    
    &:checked + .fr-wdgt-tab-label {
      color: var(--color-accent);
      border-bottom-color: var(--color-accent);
      background-color: var(--color-surface);
    }

    &:checked + .fr-wdgt-tab-label + .fr-wdgt-tab-panel {
      display: block;
    }

  }

  .fr-wdgt-tab-panel {
    display: none;
    width: 100%;
    order: 1;
    border:1px solid var(--color-border);
    padding: var(--spacing-md);

    & > * {
      margin-top:0;
      margin-bottom: 0;
    }

    &:has(> .fr-codeblock-lang:only-child){
      padding: 0;
      border: none;
    }
  }
}