{{ define "main" }}
  {{ partial "widgets/title.html" (dict "page" . "class" "fr-wdgt-page-title" "linktitle" false) }}
  <div class="fr-page-meta">
    {{ partial "widgets/meta/date.html" (dict "page" .) }} ┊ 
    {{ partial "widgets/meta/author.html" (dict "page" .) }} ┊ 
    {{ partial "widgets/meta/read-time.html" (dict "page" .) }}
  </div>

  {{ partial "content.html" (dict "page" .) }}

  {{ partial "terms.html" (dict "page" . "taxonomies" (.GetTerms "tags") "prefix" (index (partial "stores/taxonomy-prefix-store.html") "tags")  "class" "fr-wdgt-terms--page") }}
{{ end }}
