{{/* 
Book list widget

Creates a semantic, accessible list that renders like a book index:
  Title ............................. 02 Jan 2020

Markup: UL > LI > A-row (anchor inside each LI spans the full row so the whole item is clickable)

Usage:
  {{ partial "widgets/list/book.html" (dict "pages" $pages "class" "optional-class") }}

Classes:
  - Root UL:            `fr-wdgt-list-book` (or the class you pass)
  - Row anchor:         `fr-wdgt-list-book__row`
  - Title span:         `fr-wdgt-list-book__title`
  - Leader span:        `fr-wdgt-list-book__leader` (purely visual; aria-hidden)
  - Date/time element:  `fr-wdgt-list-book__date`
*/}}

{{ $pages := .pages }}
{{ $class := .class | default "fr-wdgt-list-book" }}

<ul class="{{ $class }}">
  {{ range $p := $pages }}
    {{ $dateMachine := $p.Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := $p.Date | time.Format "02 Jan 2006" }}
    <li>
      <a href="{{ $p.RelPermalink }}" class="{{ $class }}__row" aria-labelledby="{{ $class }}-title-{{ $p.File.Path | urlize }}">
        <span id="{{ $class }}-title-{{ $p.File.Path | urlize }}" class="{{ $class }}__title">
          {{ if $p.LinkTitle }}{{ $p.LinkTitle }}{{ else }}{{ $p.Title }}{{ end }}
        </span>

        {{/* visual leader: dotted line spanning remaining space; aria-hidden because it's decorative */}}
        <span class="{{ $class }}__leader" aria-hidden="true"></span>

        <time class="{{ $class }}__date" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
      </a>
    </li>
  {{ end }}
</ul>