{{ return (dict
        "info" (dict 
            "iconName" "circle-info"
            "iconStyle" "solid"
        ) 
        "note" (dict 
            "iconName" "pen-to-square"
            "iconStyle" "solid"
        )
        "tip" (dict 
            "iconName" "lightbulb"
            "iconStyle" "solid"
        ) 
        "warning" (dict 
            "iconName" "circle-exclamation"
            "iconStyle" "solid"
        ) 
        "important" (dict 
            "iconName" "star"
            "iconStyle" "solid"
        ) 
        "caution" (dict 
            "iconName" "triangle-exclamation"
            "iconStyle" "solid"
        ) 
        "accent" (dict 
            "iconName" "note-sticky"
            "iconStyle" "solid"
        ) 
        "inverted" (dict 
            "iconName" "asterisk"
            "iconStyle" "solid"
        )
    )
}}